.container-md, .container-fluid {
    max-width: 1200px;  
    margin: 0 auto;      
    padding: 0 20px;     
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 992px) {
    .container-md, .container-fluid {
        max-width: 90%;
    }
}

@media (max-width: 576px) {
    .container-md, .container-fluid {
        max-width: 95%;
        padding: 0 10px;
    }
}

.project-item img {
    max-width: 400px;   
    height: auto;
    display: block;
    margin-bottom: 10px;
}
