/* Make main content wider */
@media (min-width: 1200px) {
  .col-xl-8.offset-xl-2 {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Slightly wider on large screens */
@media (min-width: 992px) {
  .col-lg-10.offset-lg-1 {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}
